**/__pycache__/
/.neptune
/.vscode

# Exclude random csv stuff, keep whole months but not partial months.
/csv/*
!/csv/monthly
!/csv/TIME_SERIES_*
/csv/*/partial

# Don't include checkpoints, as well as other things that have no reason to be in git.
/ckpt
/stuff
/venv
/dist
**/*.egg-info
.coverage
.python-version

# Non example versions of these are used for me, the dev
user_vars.py
user-vars.sh

# Stuff created by the rocm install process
*.whl
*.deb

# Build files
dist/

*.DS_Store