**/__pycache__/
/.neptune
/.vscode

# Exclude random csv stuff, except monthlies
/csv/*
!/csv/monthly

# Don't include checkpoints, as well as other things that have no reason to be in git.
/ckpt
/stuff
/venv
/dist
**/*.egg-info

# Non example versions of are used for me, the dev
user_vars.py
user-vars.sh

# Build files
dist/


*.DS_Store